<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>
<body>
<h1>Users Members</h1>
<div>
	<table class="table table-over">
		<thead>
		<tr>
			<th>Name</th>
			<th>lastName</th>
			<th>Assign</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each ="user : ${usersList}">
			<td th:text = "${user.firstName}"></td>
			<td th:text = "${user.lastName}"></td>
			<td>
				<form method="POST" th:action="@{/task/{taskId}/assignTask/{userId}(taskId = ${task.id},userId=${user.id})}">
					<button th:if="${task.user==null}" type="submit" name="submit" value="value">ASSIGN</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
<footer><a href="/home">Home</a></footer>
</html>